body {
  font-family: sans-serif;
  font-size: "25px";
  color: #ffffff;
  text-align: left;
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;
  color: #0084ff;
}

.text-center {
  text-align: center;
}

.game-link {
  display: inline-block;
  position: relative;
  width: 225px;
  height: 270px;
  overflow: hidden;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in-out;
}

.game-tile {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
  
}

.game-link:hover .game-tile{
  transform: rotateY(180deg);
}

.game-icon {
  border-radius: 15px;
  display: block;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.game-title {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  color: white;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  visibility: hidden;
  opacity: 0;
}

.game-desc {
  position: absolute;
  left: 0;
  right: 0;
  top: 20%;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  color: white;
  border-radius: 5px;
  font-size: 13px;
  font-weight: bold;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease-in-out;
}

.game-link:hover .game-title {
  transform: rotateY(180deg);
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s ease-in-out;
}

.game-link:not(:hover) .game-title {
  transform: rotateY(180deg);
  visibility: visible;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease-in-out;
}

.game-link:hover .game-desc {
  transform: rotateY(180deg);
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s ease-in-out;
}

.game-link:not(:hover) .game-desc {
  transform: rotateY(180deg);
  visibility: visible;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease-in-out;
}

.flex-container {
  display: flex;
  flex-direction: row;
  order: 0;
  flex-grow: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.container {
  padding: 10px;
}

.badge {
  background-color: red;
  color: white;
  padding: 4px 8px;
  text-align: center;
  border-radius: 5px;
}

#mySearch {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50%;
  text-align: center;
  font-size: 18px;
  padding: 11px;
  border: 3px solid #2a2a2a;
  border-radius: 30px;
  background-color: #333;
  color: #fff;
  text-shadow: 0px 0px 4px #fff;
  transition: all 0.3s ease-in-out;
}

#mySearch:focus {
  outline: none;
  border: 3px solid #00ffcc;
  background-color: #1a1a1a;
  text-shadow: 0px 0px 10px #00ffcc;
}

#mySearch::placeholder {
  color: #777;
}

::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background-image: url("https://i.imgur.com/UjJvQrK.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}


h2 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #fff;
  line-height: 0.1em;
  margin: 10px 0 20px;
  padding-top: 3.5vw;
}

h2 span {
  padding: 0 10px;

.rand {
  position: absolute;
  top: 10px;
  right: 5px;
  width:2.5em;
}
.topbar {
  background-color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  transition: all 0.3s ease-in-out;
}

.topbar.scrolled {
  background-color: #a4a4a4;
  box-shadow: 0 2px 4px rgba(128, 128, 128, 0.1); /* add a subtle shadow when scrolled */
